/* Обнуление стилей браузера */
@import "normalize.css";
@import "reset.css";

* {
    box-sizing: border-box;
}

/* Подключение шрифтов */
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}

/* Стили для контейнера */
.container {
    max-width: 1200px;
    /* Добавил рамку чтобы видеть блок */
    /* border: 1px solid black; */
    margin: 0 auto;
}

/* Стили для шапки */
.header-section__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem 0;
    justify-content: space-between;
}

.header-section__logo {
    margin-right: 20px;
}

.info-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 164px;
}

.info-list__item {
    margin-right: 30px;
}

.info-list__item:nth-child(6) {
    margin-right: 10px;
}

.info-list__arrow-down {
    margin-right: 30px;
}

.info-list__item:last-child {
    margin-right: 0;
}

.info-list__item a {
    text-decoration: none;
    color: #333333;
    font-family: Montserrat-Medium;
    font-size: 0.875rem;
}

.header-section__button {
    width: 230px;
    height: 48px;
    background: #e3f5f5;
    border-radius: 0.25rem;
    border: none;
    padding: 0.875rem 1.25rem;
    font-family: Montserrat-Bold;
    font-size: 1rem;
    color: #03b2a5;
    text-align: center;
    cursor: pointer;
}

/* Адаптив */
/* Ipad Pro */
@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1.25rem 0 1.25rem 2rem;
        justify-content: start;
    }

    .header-section__logo {
        margin-right: 32px;
    }

    .header-section__button {
        display: none;
    }
}

/* Ipad Mini */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 1.25rem 1.9375rem 1.25rem 1.25rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 645px;
    }

    .header-section__hamburger {
        width: 1.125rem;
        height: 0.875rem;
    }

    .header-section__span {
        height: 2px;
        width: 100%;
        display: block;
        background: #03b2a5;
        margin-bottom: 4px;
        border-radius: 1px;
    }

    .header-section__span:last-child {
        margin-bottom: 0;
    }

    .info-list {
        display: none;
    }
}

/* IPhone 11 Pro Max */
@media (max-width: 414px) {
    .container {
        max-width: 414px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 1.25rem 2.1875rem 1.25rem 1.5rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 286px;
    }
}

/* IPhone SE - 1 */
@media (max-width: 320px) {
    .container {
        max-width: 320px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 0.6875rem 1.1875rem 0.6875rem 1rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 216px;
    }
}
