/* Обнуление стилей браузера */
@import "normalize.css";
@import "reset.css";

* {
    box-sizing: border-box;
}

/* Подключение шрифтов */
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/fonts/Montserrat-Regular.ttf");
}

/* Стили для контейнера */
.container {
    max-width: 1200px;
    /* Добавил рамку чтобы видеть блок */
    /* border: 1px solid black; */
    margin: 0 auto;
}

/* Стили для шапки */
.header-section__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem 0;
    justify-content: space-between;
}

.header-section__logo {
    margin-right: 20px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 164px;
}

.nav-list__item {
    margin-right: 30px;
}

.nav-list__item:nth-child(6) {
    margin-right: 10px;
}

.nav-list__arrow-down {
    margin-right: 30px;
}

.nav-list__item:last-child {
    margin-right: 0;
}

.nav-list__item a {
    text-decoration: none;
    color: #333333;
    font-family: Montserrat-Medium;
    font-size: 0.875rem;
    letter-spacing: 0.0156rem;
}

.header-section__button {
    width: 230px;
    height: 48px;
    background: #e3f5f5;
    border-radius: 0.25rem;
    border: none;
    padding: 0.875rem 1.25rem;
    font-family: Montserrat-Bold;
    font-size: 1rem;
    color: #03b2a5;
    text-align: center;
    cursor: pointer;
}

.line {
    height: 0.1875rem;
    width: 100%;
    display: block;
    background: #eff5fb;
    margin-bottom: 1rem;
}

/* Стили для хлебных крошек */
.breadcrumbs {
    margin-bottom: 1.875rem;
}

.breadcrumbs__list {
    display: flex;
    padding-left: 0.375rem;
}

.breadcrumbs__list-item:nth-child(odd) {
    margin-right: 0.625rem;
}

.breadcrumbs__list-item:nth-child(even) {
    margin-right: 0.843rem;
    padding-top: 0.125rem;
}

.breadcrumbs__link {
    text-decoration: none;
    font-family: Montserrat-Regular;
    font-size: 0.75rem;
    color: rgba(51, 51, 51, 0.7);
    letter-spacing: 0.0156rem;
}

/* Стили для главного заголовка */
.main-title {
    margin-bottom: 2rem;
}

.main-title__heading {
    font-family: Montserrat-Bold;
    font-size: 3rem;
    color: #333333;
}

/* Стили для тэгов */
.tag-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.4375rem;
}

.tag-list__item {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    border: 1px solid #c1c5cd;
    border-radius: 1.5rem;
    height: 2rem;
    padding: 0.375rem 0.5rem;
    margin-bottom: 0.5rem;
}

.tag-list__item:hover {
    border: 2px solid #16c8bb;
    background: #f9fdfd;
}

.tag-list__link {
    text-decoration: none;
    font-family: Montserrat-Medium;
    font-size: 0.875rem;
    background: rgba(255, 255, 255, 0.7);
    color: #333333;
}

.tag-list__item:last-child {
    margin-right: 0;
}

/* Адаптив */
/* Ipad Pro */
@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 1.25rem 0 1.25rem 2rem;
        justify-content: start;
    }

    .header-section__logo {
        margin-right: 32px;
    }

    .header-section__button {
        display: none;
    }

    .line {
        height: 0.0625rem;
    }

    .breadcrumbs {
        margin-bottom: 2.5rem;
    }

    .breadcrumbs__list {
        padding-left: 2rem;
    }

    .main-title {
        margin-bottom: 2rem;
    }

    .main-title__heading {
        padding-left: 2.0625rem;
    }

    .tag-list {
        padding-left: 2rem;
        margin-bottom: 1.4375rem;
    }
}

/* Ipad Mini */
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 1.25rem 1.9375rem 1.25rem 1.25rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 645px;
    }

    .header-section__hamburger {
        width: 1.125rem;
        height: 0.875rem;
    }

    .header-section__span {
        height: 2px;
        width: 100%;
        display: block;
        background: #03b2a5;
        margin-bottom: 4px;
        border-radius: 1px;
    }

    .header-section__span:last-child {
        margin-bottom: 0;
    }

    .nav-list {
        display: none;
    }

    .breadcrumbs {
        margin-bottom: 2.5rem;
    }

    .breadcrumbs__list {
        padding-left: 1.25rem;
    }

    .main-title {
        margin-bottom: 2rem;
    }

    .main-title__heading {
        padding-left: 1.3125rem;
    }

    .tag-list {
        padding-left: 1.25rem;
        margin-bottom: 1.4375rem;
    }
}

/* IPhone 11 Pro Max */
@media (max-width: 414px) {
    .container {
        max-width: 414px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 1.25rem 2.1875rem 1.25rem 1.5rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 286px;
    }

    .breadcrumbs {
        margin-bottom: 2rem;
    }

    .main-title {
        margin-bottom: 1.5rem;
    }

    .main-title__heading {
        padding-left: 1.25rem;
        font-size: 2rem;
    }

    .tag-list {
        flex-wrap: nowrap;
        overflow: scroll;
        margin-bottom: 1rem;
    }

    .tag-list__item {
        white-space: nowrap;
    }
}

/* IPhone SE - 1 */
@media (max-width: 320px) {
    .container {
        max-width: 320px;
        /* Добавил рамку чтобы видеть блок
        border: 1px solid black; */
        margin: 0 auto;
    }

    .header-section__header {
        padding: 0.6875rem 1.1875rem 0.6875rem 1rem;
        justify-content: space-around;
    }

    .header-section__logo {
        margin-right: 216px;
    }

    .breadcrumbs__list {
        padding-left: 1rem;
    }

    .breadcrumbs {
        margin-bottom: 2rem;
    }

    .main-title {
        margin-bottom: 1.5rem;
    }

    .main-title__heading {
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    .tag-list {
        margin-bottom: 2.5rem;
    }
}
